

<nav class="navbar">
  <div class="max-width">
  <!--logo-->
  <div class="logo"><a href="#">MMTrao<span>re.</span></a></div>

  <ul class="menu">
    <li><a href="#about" >A Propos</a></li>
    <li><a href="#skills">Competences</a></li>
    <li><a href="#formation">Formation</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#portfolios">Portfolios</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
</div>

</div>
</nav>
