<nav class="navigation">
  <!--logo-->
  <a href="#" class="logo">
    <img src="imges/logo.png" alt="Kodia-Tech"/>
  </a>

  <ul class="menu">
    <li><a href="#about">A Propos</a></li>
    <li><a href="#skills">Competences</a></li>
    <li><a href="#formation">Formation</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#portfolios">Portfolios</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <a href="#" class="hire-me">
    Hire Me
    <i class="fas fa-chevron-right"></i>
  </a>

</nav>
