
<section id="main">
  <!-- text-->
  <div class="main-text" >
    <h1>Hey, I'm Full-Stack developer </h1>
    <p> Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
    <!-- btns-->
    <div class="main-btns">
      <a href="#" class="download-cv-btn"> Download CV </a>
      <a href="#" class="hire-me-btn"> Hire Me</a>
    </div>
  </div>
  <div class="model">
    <img src="assets/images/profil_img.png" alt="Image" />

    <h3>Balla Moussa</h3>
    <p>Ingenieur developpement</p>
    <div class="share">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
    </div>
  </div>

</section>
