/* skills section styling */

.skills .title::after{
  content: "what i know";
}
.skills .skills-content .column{
  width: calc(50% - 30px);
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .left a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
  color: crimson;
  background: none;
}
.skills .skills-content .right .bars{
  margin-bottom: 15px;
}
.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
/**-------------------------------**/
.skill-box {
  display: flex;
  margin: 25px 0px;
}

.s-box-icon {
  margin-right: 12px;
}
.s-box-icon i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f011;
  font-size: 1.1rem;
}
.skill-box strong {
  color: #fff;
  margin: 0px;
  font-weight: 400;
  font-size: 0.9rem;
}
.skill-box p {
  color: #8a94a783;
  font-size: 0.9rem;
}

.fa-html5 {
  color: #e06061;
}
.fa-css3-alt {
  color: #5d85f3;
}

.fa-js {
  color: #f9ca31;
}

.fa-java {
  color: #457697;
}

.progress-line {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #1d1d1d;
  border-radius: 10px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px,
    1px rgba(255, 255, 255, 0.8);
}
.progress-line span{
height: 100%;

background: linear-gradient(90deg, #2788e2 20%, #3b43b8);
position: absolute;
border-radius: 10px;
}
.progress-line span::before {
  position: absolute;
  content: '';
  right: 0px;
  top: -10px;
  height: 0px;
  width: 0px;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: rgb(20, 98, 243);
}
.progress-line span::after {
  position: absolute;
  right: 0px;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  background-color: rgb(20, 98, 243);
  padding: 1px 8px;
  border-radius: 3px;
}
.progress-line span::after {
  content: attr(data-open);
}

