<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text"><i class="fa fa-cogs" style="font-size:30px"></i>Framworks & Outils.</div>
        <ul class="fa-ul" style="--fa-li-width: 2em;">
          <li><span class="fa-li"><i class="fa fa-check-square-o" style="font-size:24px"></i></span>Spring Boot</li>
          <li><span class="fa-li"><i class="fa fa-check-square-o" style="font-size:24px"></i></span>Angular</li>
          <li><span class="fa-li"><i class="fa fa-check-square-o" style="font-size:24px"></i></span>Vuejs</li>

        </ul>
        <ul class="fa-ul" style="--fa-li-width: 2em;">
          <li><span class="fa-li"><i class="fa fa-check-square-o" style="font-size:24px"></i></span>Git + Github/Gitlab</li>
          <li><span class="fa-li"><i class="fa fa-check-square-o" style="font-size:24px"></i></span>Docker/Jenkins/GitlabCi</li>
          <li><span class="fa-li"><i class="fa fa-check-square-o" style="font-size:24px"></i></span>Eclipse/IntelliJ/VsCode</li>

        </ul>

        <a [href]="rsx.linkedin" target="_blank">Read more</a>
    </div>
    <div class="column right">
      <div class="skill-box" *ngFor="let skill of skills">
        <!--box icon-->
        <div class="s-box-icon">
          <!--ngClass permet d'avoir passer une variable () -->
          <i [ngClass]="skill.icon"></i>
        </div>
        <!-- box--text-->
        <div class="s-box-text">
          <strong>Hyper Text Markup Language(Html)</strong>
          <p>{{skill.exp}}</p>
          <!-- progress-line-->
          <div class="progress-line html" ><span [attr.data-open]="skill.progress" [style.width]="skill.progress" ></span></div>
        </div>
      </div>
    </div>
    </div>

  </div>

</section>
