<!---->
<section id="experience">
  <!---heading-->
  <strong class="exp-heading">
    Experiences
  </strong>
<div class="exp-box-container">
  <!--Service box-->
  <div class="exp-box">
    <!--icon-->
    <i class="fas fa-code"></i>
    <strong>Front-End</strong>
    <!--detail-->
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
      Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
       hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. Praesent iaculis velit
       libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis felis pellentesque id. Donec non lacus
       diam.</p>

</div>
  <!--Service box-->
  <div class="exp-box">
    <!--icon-->
    <i class="fas fa-code"></i>
    <strong>Front-End</strong>
    <!--detail-->
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
      Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
       hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. Praesent iaculis velit
       libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis felis pellentesque id. Donec non lacus
       diam.</p>

</div>
  <!--Service box-->
  <div class="exp-box">
    <!--icon-->
    <i class="fas fa-code"></i>
    <strong>Front-End</strong>
    <!--detail-->
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
      Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
       hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. Praesent iaculis velit
       libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis felis pellentesque id. Donec non lacus
       diam.</p>

</div>
  <!--Service box-->
  <div class="exp-box">
    <!--icon-->
    <i class="fas fa-code"></i>
    <strong>Front-End</strong>
    <!--detail-->
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
      Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
       hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. Praesent iaculis velit
       libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis felis pellentesque id. Donec non lacus
       diam.</p>

</div>
</div>
</section>
