<section class="about" id="about">
  <div class="max-width">
      <h2 class="title">About me</h2>
      <div class="about-content">
          <div class="column left">
            <img src="assets/images/about_img.png" alt="Image" />
          </div>
          <div class="column right">
              <div class="text">I'm TRAORE and I'm a <span class="typing-2"></span></div>
              <p>Diplomé en Master Developpement Logiciel quotidient: Développeur Full-Stack (Jakarta EE (spring boot)/Angular), Mise en place d'une chaine Devops (CI/CD) /
                Docker, Gitlab, Github,</p>
                <a href="assets/file/cvtraore-2022.pdf" target="_blank">Download CV</a>
              <!--<a href="assets/file/cvtraore-2022.pdf" download>Download CV</a> -->
          </div>
      </div>
  </div>
</section>

