/***COMMUN---------------------------*/
section{
  padding: 90px 0;;
}
.container{
  box-shadow: 0 4px 8px 0 rgba(244, 240, 240, 0.2);
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 80%;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  color: white;
  line-height: 1.2;
  margin-bottom: 10px;
}
h1{font-size: 44px;}
p{
  margin-bottom: 16px;
}
/**-------------------------------*/
.exp-grid{
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  gap: 24px;
  padding: 44px;
  background-color:var(--color-bg-2) ;
  margin-bottom: 24px;

}

.intro{
  text-align: center;
  max-width: 600px;
  margin: 0 auto 40px auto;
}

.intro .intro-p{
  color: var(--color-brand);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.intro .intro-p::before{
  content: ' ';
width: 16%;
height: 2px;
background-color:  white;
display: inline-block;
margin-right: 16px;
vertical-align: middle;



}
.exp-grid .date{
  background-color: var(--color-brand);
  display: inline;
  padding: 6px 10px;
  color: white;

}

p{
  color: white;
}
