<section id="formation">
  <div class="container">
    <div class="intro">
      <p class="intro-p">Formation</p>
      <h1>Work that I have done with</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s
      </p>
    </div>
    <div class="exp-grid">
      <div>
      <p class="date">2016-2018</p>
    </div>
      <div>
        <h1>Dribbble</h1>
        <p>UI Designer</p>
      </div>
      <p>
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries
      </p>
    </div>
    <div class="exp-grid">
      <div>
      <p class="date">2016-2018</p>
    </div>
      <div>
        <h1>Dribbble</h1>
        <p>UI Designer</p>
      </div>
      <p>
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries
      </p>
    </div>
  </div>
</section>
