<section class="education" id="formation">

  <h2 class="title">My resume</h2>



  <div class="box-container">

    <div class="box">
     <i class="fas fa-certificate"></i>
        <span>2015 - 2016</span>
        <h3>front-end development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia explicabo magni est quo vitae quis veritatis fugiat optio placeat enim!</p>
    </div>

    <div class="box">
    <i class="fas fa-certificate"></i>
        <span>2016 - 2017</span>
        <h3>front-end development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia explicabo magni est quo vitae quis veritatis fugiat optio placeat enim!</p>
    </div>

    <div class="box">
       <i class="fas fa-briefcase"></i>
        <span>2017 - 2018</span>
        <h3>front-end development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia explicabo magni est quo vitae quis veritatis fugiat optio placeat enim!</p>
    </div>

    <div class="box">
      <i class="fas fa-briefcase"></i>
        <span>2018 - 2019</span>
        <h3>front-end development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia explicabo magni est quo vitae quis veritatis fugiat optio placeat enim!</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019 - 2020</span>
        <h3>front-end development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia explicabo magni est quo vitae quis veritatis fugiat optio placeat enim!</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2020 - 2021</span>
        <h3>front-end development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia explicabo magni est quo vitae quis veritatis fugiat optio placeat enim!</p>
    </div>

</div>
</section>
