<section class="education" id="formation">

  <h2 class="title">My resume</h2>



  <div class="box-container" >

    <div class="box" *ngFor="let experience of experiences;">
     <i class="fas fa-certificate"></i>
        <span>{{experience.period}}</span>
        <h3>{{experience.title}} - {{experience.company}}</h3>
        <details>
          <summary>Details</summary>
          <p *ngFor="let mission of experience.missions; let index = index">- {{mission}}</p>
          <div><strong>Technologies:</strong> <p>{{experience.technologies}}</p></div>
      </details>



      </div>



</div>
</section>
