/* footer section styling */
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #111;
  padding: 10px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: crimson;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a{
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: #292b3252;
  margin: 5px;
  font-size: 0.9rem;
  font-weight: 400;

}

.footer-social a:hover{
  background-color: crimson;
  transition: all ease 0.5s;

}
