<footer>
  <div class="max-width">
  <span class="copyright">Created By <a href="">kodiatech</a> | <span class="far fa-copyright"></span> 2022 All rights reserved.</span>
<div class="footer-social">
  <a href="#" class="fab fa-facebook-f"></a>
  <a href="#" class="fab fa-twitter"></a>
  <a href="#" class="fab fa-instagram"></a>
  <!--<a [href]="'https://www.linkedin.com/in/moussa-m-mah-traore-95a873115/'" target="_blank" class="fab fa-linkedin"></a>
  -->
  <a [href]="rsx.linkedin" target="_blank" class="fab fa-linkedin"></a>
</div>
  </div>
</footer>
