 <!-- services section start -->
 <section class="services" id="services">
  <div class="max-width">
      <h2 class="title">My services</h2>
      <div class="serv-content">
          <div class="card">
              <div class="box">
                  <i class="fas fa-code"></i>
                  <div class="text">Front-End</div>
                  <p>Conception, Maintenance, Evolution, (JavaScript-->Angular,Vuejs, ReactJS)</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-cogs"></i>
                  <div class="text">Back-End</div>
                  <p>Creation des APIs, Web service, maintenance, evolution, test unitaire, architecture</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-cogs"></i>
                  <div class="text">Devops</div>
                  <p>Chaine (CI-CD), Docker,Jenkins,Git-Github-Gitlab</p>
              </div>
          </div>
         </div>
      </div>

</section>
