 <!-- services section start -->
 <section class="services" id="services">
  <div class="max-width">
      <h2 class="title">My services</h2>
      <div class="serv-content">
          <div class="card">
              <div class="box">
                  <i class="fas fa-code"></i>
                  <div class="text">Front-End</div>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-cogs"></i>
                  <div class="text">Back-End</div>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                  <i class="fas fa-cogs"></i>
                  <div class="text">Devops</div>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
              </div>
          </div>
         </div>
      </div>

</section>
