
/* You can add global styles to this file, and also import other style files */


:root{
  --color-brand: rgb(79,113,224);
  --color-brand-80:rgba(79,113,224,0.8);
  --color-body: rgb(172,177,196);
  --color-bg-1: rgb(28,30,39);
  --color-bg-2: rgb(38,41,53);

}
 body{
   margin: 0px;
   padding: 0px;
   font-family: poppins;
   background-color:#111 ;
 }
*{
  box-sizing: border-box;
  margin: 0px;
   padding: 0px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  color: white;
  line-height: 1.2;
  margin-bottom: 10px;
}
h1{font-size: 44px;}
p{
  margin-bottom: 16px;
}
section{
  padding: 90px 0;;
}
.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
