<section class="portfolio" id="mywork">
  <div class="max-width-port">
  <h2 class="title">My work</h2>

  <div class="box-container">

      <div class="box">
          <img src="assets/images/ivvq.png" alt="">
          <div class="content">
              <h3>Eco-commerce-ivvq</h3>
              <p>ecomerce projet (ci-cd) </p>
              <a href="https://ivvq-2020-project-poropiti.herokuapp.com/">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="assets/images/app_dest.png" alt="">
          <div class="content">
              <h3>Restaurant </h3>
              <p>app restaurant dev(Java swing)</p>
              <a href="">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="assets/images/todo-app.png" alt="">
          <div class="content">
              <h3>My Todo list </h3>
              <p>Todo app-springbooot(data, security)/angular (CI-CD (docker, git, gitlabci)).</p>
              <a href="https://kodiatech-todo-app.herokuapp.com/">read more</a>
          </div>
      </div>

      <div class="box">
          <img src="assets/images/sante_proche.png" alt="">
          <div class="content">
              <h3>Sante-proche</h3>
              <p>Participant dev en equipe (Spring boot Data/Security Angular ) CI-CD(Docker, githubAction) </p>
              <a href="https://sante-proche.com/">read more</a>
          </div>
      </div>



  </div>

  <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a>
</div>
</section>
