<section id="skills">
  <!-- text-section-->
  <div class="skills-text-section">
    <!-- heading-->
    <div class="skill-heading">
      <span>Competences techniques</span>
    </div>

    <div class="s-box-container">

      <div class="skill-box" *ngFor="let skill of skills">
        <!--box icon-->
        <div class="s-box-icon">
          <i [ngClass]="skill.icon"></i>
        </div>
        <!-- box--text-->
        <div class="s-box-text">
          <strong>Hyper Text Markup Language(Html)</strong>
          <p>I have 3 Years Experience in HTML and I Completed 100+ HTML Projects.</p>
          <!-- progress-line-->
          <div class="progress-line html" ><span [attr.data-open]="skill.progress" [style.width]="skill.progress" ></span></div>
        </div>
      </div>

    </div>

  </div>
</section>
